*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none
}

body {
  font-family: $font-main-regular;
  color: $white-1;
  background: $grey-1;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}






