@font-face {
  font-family: $font-main-extraBold;
  src: url('../../assets/fonts/steelfish/steelfish.eb-regular.woff') format('woff');
}

@font-face {
  font-family: $font-main-outline;
  src: url('../../assets/fonts/steelfish/steelfish.outline-regular.woff') format('woff');
}

@font-face {
  font-family: $font-main-bold;
  src: url('../../assets/fonts/steelfish/steelfish.rg-bold.woff') format('woff');
}

@font-face {
  font-family: $font-main-italic;
  src: url('../../assets/fonts/steelfish/steelfish.rg-italic.woff') format('woff');
}

@font-face {
  font-family: $font-main-regular;
  src: url('../../assets/fonts/bigjonh/BigJohnPRO-Regular.woff') format('woff');
}
